<div class="bg-surface-0 dark:bg-surface-950 text-center rounded-2xl">
  <div class="flex flex-col gap-4">
    <div class="flex flex-col items-center gap-4">
      <div class="font-bold text-3xl leading-tight">
        <span class="text-primary-500 dark:text-primary-400">{{'skills.title'|translate }}</span>
      </div>
      <div class="text-surface-500 dark:text-surface-400 leading-tight">{{'skills.subtitle'|translate }}</div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">

      <div class="w-full rounded-md p-4">
        <span class="mb-4 flex h-16 w-16 items-center justify-center rounded-lg bg-surface-0 dark:bg-surface-800 shadow mx-auto">
          <i class="pi pi-desktop text-2xl! lg:text-3xl! text-primary-500 dark:text-primary-400"></i>
        </span>
        <div class="flex flex-col gap-1">
          <div class="text-surface-900 dark:text-surface-0 text-xl font-medium leading-tight">{{'skills.frontend'|translate }}</div>
        </div>
        <div class="flex flex-wrap justify-center gap-2 mt-4">

          <p-chip>
            <span class="mr-2 flex items-center">
              <img
                src="assets/icons/angular.svg"
                alt="Angular Logo"
                class="w-5 h-5"
              />
            </span>
            <span class="text-black-700 dark:text-white-100 text-sm font-semibold">Angular</span>
          </p-chip>

          <p-chip>
            <span class="mr-2 flex items-center">
              <img
                src="assets/icons/prime.svg"
                alt="PrimeNg Logo"
                class="w-5 h-5"
              />
            </span>
            <span class="text-black-700 dark:text-white-100 text-sm font-semibold">PrimeNG</span>
          </p-chip>

          <p-chip>
            <span class="mr-2 flex items-center">
              <img
                src="assets/icons/tailwind.svg"
                alt="Tailwind Logo"
                class="w-5 h-5"
              />
            </span>
            <span class="text-black-700 dark:text-white-100 text-sm font-semibold">Tailwind</span>
          </p-chip>

          <p-chip>
            <span class="mr-2 flex items-center">
              <img
                src="assets/icons/vue.svg"
                alt="Vue Logo"
                class="w-5 h-5"
              />
            </span>
            <span class="text-black-700 dark:text-white-100 text-sm font-semibold">Vue.js</span>
          </p-chip>

          <p-chip>
            <span class="mr-2 flex items-center">
              <img
                src="assets/icons/css-3.svg"
                alt="CSS 3 Logo"
                class="w-5 h-5"
              />
            </span>
            <span class="text-black-700 dark:text-white-100 text-sm font-semibold">CSS</span>
          </p-chip>

          <p-chip>
            <span class="mr-2 flex items-center">
              <img
                src="assets/icons/html-5.svg"
                alt="HTML 5 Logo"
                class="w-5 h-5"
              />
            </span>
            <span class="text-black-700 dark:text-white-100 text-sm font-semibold">HTML</span>
          </p-chip>
        </div>
      </div>

      <div class="w-full rounded-md p-4">
        <span class="mb-4 flex h-16 w-16 items-center justify-center rounded-lg bg-surface-0 dark:bg-surface-800 shadow mx-auto">
          <i class="pi pi-server text-2xl! lg:text-3xl! text-primary-500 dark:text-primary-400"></i>
        </span>
        <div class="flex flex-col gap-1">
          <div class="text-surface-900 dark:text-surface-0 text-xl font-medium leading-tight">{{'skills.backend'|translate }}</div>
        </div>
        <div class="flex flex-wrap justify-center gap-2 mt-4">

          <p-chip>
            <span class="mr-2 flex items-center">
              <img
                src="assets/icons/java.svg"
                alt="Java Logo"
                class="w-5 h-5"
              />
            </span>
            <span class="text-black-700 dark:text-white-100 text-sm font-semibold">Java</span>
          </p-chip>

          <p-chip>
            <span class="mr-2 flex items-center">
              <img
                src="assets/icons/spring-boot.svg"
                alt="Spring Boot Logo"
                class="w-5 h-5"
              />
            </span>
            <span class="text-black-700 dark:text-white-100 text-sm font-semibold">Spring Boot</span>
          </p-chip>

          <p-chip>
            <span class="mr-2 flex items-center">
              <img
                src="assets/icons/postgresql.svg"
                alt="PostgreSQL Logo"
                class="w-5 h-5"
              />
            </span>
            <span class="text-black-700 dark:text-white-100 text-sm font-semibold">PostgreSQL</span>
          </p-chip>

          <p-chip>
            <span class="mr-2 flex items-center">
              <img
                src="assets/icons/mysql.svg"
                alt="My SQL Logo"
                class="w-5 h-5"
              />
            </span>
            <span class="text-black-700 dark:text-white-100 text-sm font-semibold">MySQL</span>
          </p-chip>
        </div>
      </div>

      <div class="w-full rounded-md p-4">
        <span class="mb-4 flex h-16 w-16 items-center justify-center rounded-lg bg-surface-0 dark:bg-surface-800 shadow mx-auto">
          <i class="pi pi-mobile text-2xl! lg:text-3xl! text-primary-500 dark:text-primary-400"></i>
        </span>
        <div class="flex flex-col gap-1">
          <div class="text-surface-900 dark:text-surface-0 text-xl font-medium leading-tight">{{'skills.mobile'|translate }}</div>
        </div>
        <div class="flex flex-wrap justify-center gap-2 mt-4">

          <p-chip>
            <span class="mr-2 flex items-center">
              <img
                src="assets/icons/flutter.svg"
                alt="Flutter Logo"
                class="w-5 h-5"
              />
            </span>
            <span class="text-black-700 dark:text-white-100 text-sm font-semibold">Flutter</span>
          </p-chip>

          <p-chip>
            <span class="mr-2 flex items-center">
              <img
                src="assets/icons/android.svg"
                alt="Android Logo"
                class="w-5 h-5"
              />
            </span>
            <span class="text-black-700 dark:text-white-100 text-sm font-semibold">Android</span>
          </p-chip>

          <p-chip>
            <span class="mr-2 flex items-center">
              <img
                src="assets/icons/dart.svg"
                alt="Dart Logo"
                class="w-5 h-5"
              />
            </span>
            <span class="text-black-700 dark:text-white-100 text-sm font-semibold">Dart</span>
          </p-chip>

          <p-chip>
            <span class="mr-2 flex items-center">
              <img
                src="assets/icons/kotlin.svg"
                alt="Kotlin Logo"
                class="w-5 h-5"
              />
            </span>
            <span class="text-black-700 dark:text-white-100 text-sm font-semibold">Kotlin</span>
          </p-chip>
        </div>
      </div>

      <div class="w-full rounded-md p-4">
        <span class="mb-4 flex h-16 w-16 items-center justify-center rounded-lg bg-surface-0 dark:bg-surface-800 shadow mx-auto">
          <i class="pi pi-users text-2xl! lg:text-3xl! text-primary-500 dark:text-primary-400"></i>
        </span>
        <div class="flex flex-col gap-1">
          <div class="text-surface-900 dark:text-surface-0 text-xl font-medium leading-tight">{{'skills.devops'|translate }}</div>
        </div>
        <div class="flex flex-wrap justify-center gap-2 mt-4">

          <p-chip>
            <span class="mr-2 flex items-center">
              <img
                src="assets/icons/git.svg"
                alt="Git Logo"
                class="w-5 h-5"
              />
            </span>
            <span class="text-black-700 dark:text-white-100 text-sm font-semibold">Git</span>
          </p-chip>

          <p-chip>
            <span class="mr-2 flex items-center">
              <img
                src="assets/icons/docker.svg"
                alt="Docker Logo"
                class="w-5 h-5"
              />
            </span>
            <span class="text-black-700 dark:text-white-100 text-sm font-semibold">Docker</span>
          </p-chip>

          <p-chip>
            <span class="mr-2 flex items-center">
              <img
                src="assets/icons/githubactions.svg"
                alt="GitHub Actions Logo"
                class="w-5 h-5"
              />
            </span>
            <span class="text-black-700 dark:text-white-100 text-sm font-semibold">GitHub Actions</span>
          </p-chip>
        </div>
      </div>

      <div class="w-full rounded-md p-4">
        <span class="mb-4 flex h-16 w-16 items-center justify-center rounded-lg bg-surface-0 dark:bg-surface-800 shadow mx-auto">
          <i class="pi pi-microchip text-2xl! lg:text-3xl! text-primary-500 dark:text-primary-400"></i>
        </span>
        <div class="flex flex-col gap-1">
          <div class="text-surface-900 dark:text-surface-0 text-xl font-medium leading-tight">{{'skills.languages'|translate }}</div>
        </div>
        <div class="flex flex-wrap justify-center gap-2 mt-4">

          <p-chip>
            <span class="mr-2 flex items-center">
              <img
                src="assets/icons/typescript.svg"
                alt="TypeScript Logo"
                class="w-5 h-5"
              />
            </span>
            <span class="text-black-700 dark:text-white-100 text-sm font-semibold">TypeScript</span>
          </p-chip>

          <p-chip>
            <span class="mr-2 flex items-center">
              <img
                src="assets/icons/python.svg"
                alt="Python Logo"
                class="w-5 h-5"
              />
            </span>
            <span class="text-black-700 dark:text-white-100 text-sm font-semibold">Python</span>
          </p-chip>

          <p-chip>
            <span class="mr-2 flex items-center">
              <img
                src="assets/icons/c-plus-plus.svg"
                alt="C++ Logo"
                class="w-5 h-5"
              />
            </span>
            <span class="text-black-700 dark:text-white-100 text-sm font-semibold">C++</span>
          </p-chip>

          <p-chip>
            <span class="mr-2 flex items-center">
              <img
                src="assets/icons/java.svg"
                alt="Java Logo"
                class="w-5 h-5"
              />
            </span>
            <span class="text-black-700 dark:text-white-100 text-sm font-semibold">Java</span>
          </p-chip>

          <p-chip>
            <span class="mr-2 flex items-center">
              <img
                src="assets/icons/sql.svg"
                alt="SQL Logo"
                class="w-5 h-5"
              />
            </span>
            <span class="text-black-700 dark:text-white-100 text-sm font-semibold">SQL</span>
          </p-chip>
        </div>
      </div>

      <div class="w-full rounded-md p-4">
        <span class="mb-4 flex h-16 w-16 items-center justify-center rounded-lg bg-surface-0 dark:bg-surface-800 shadow mx-auto">
          <i class="pi pi-wrench text-2xl! lg:text-3xl! text-primary-500 dark:text-primary-400"></i>
        </span>
        <div class="flex flex-col gap-1">
          <div class="text-surface-900 dark:text-surface-0 text-xl font-medium leading-tight">{{'skills.tools'|translate }}</div>
        </div>
        <div class="flex flex-wrap justify-center gap-2 mt-4">

          <p-chip>
            <span class="mr-2 flex items-center">
              <img
                src="assets/icons/postman.svg"
                alt="Postman Logo"
                class="w-5 h-5"
              />
            </span>
            <span class="text-black-700 dark:text-white-100 text-sm font-semibold">Postman</span>
          </p-chip>

          <p-chip>
            <span class="mr-2 flex items-center">
              <img
                src="assets/icons/intellij.svg"
                alt="Intellij Logo"
                class="w-5 h-5"
              />
            </span>
            <span class="text-black-700 dark:text-white-100 text-sm font-semibold">IntelliJ</span>
          </p-chip>

          <p-chip>
            <span class="mr-2 flex items-center">
              <img
                src="assets/icons/figma.svg"
                alt="Figma Logo"
                class="w-5 h-5"
              />
            </span>
            <span class="text-black-700 dark:text-white-100 text-sm font-semibold">Figma</span>
          </p-chip>

          <p-chip>
            <span class="mr-2 flex items-center">
              <img
                src="assets/icons/trello.svg"
                alt="Trello Logo"
                class="w-5 h-5"
              />
            </span>
            <span class="text-black-700 dark:text-white-100 text-sm font-semibold">Trello</span>
          </p-chip>
        </div>
      </div>
    </div>
  </div>
</div>
